@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');


:root {
    --background: #ECE6D3;
    --wine: #501415; 
    --bluedark: #1D2C59; 
    --regblue: #2B4182;
    --darkbeige: #9B7039;
    --beige: #D0A875;
    --darkgreen: #4B5126;
    --green: #6A6F4C;
    --darkorange: #913013;
    --orange: #A53513;
  }
  
body {
    height: -10;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Krona One", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--background);   
    background-color: var(--background);

   
}

html{
    height: 110vh;
}


a{
    text-decoration: none;
    color: var(--background);
    transition: 0.2s;
}


nav{
    position: relative;
    position: sticky;
}


.red {
    margin-bottom: 10px;
    height: 65px;
    background: var(--wine);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blue {
    margin-bottom: 10px;
    height: 65px;
    background: var(--bluedark);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.beige {
    margin-bottom: 10px;
    height: 65px;
    background: var(--darkbeige);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.green {
    margin-bottom: 10px;
    position: sticky;
    height: 65px;
    background: var(--darkgreen);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.orange {
    margin-bottom: 10px;
    position: sticky;
    height: 65px;
    background: var(--darkorange);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
   margin: 0;
   padding: 0;
}

.banner{
   margin-left: 10px;
}

.title{
    margin-left: 10px;
 }
 
.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-right: 10px;
}


.card {
    display: flex;
    flex-direction: row;
    padding: 11px;
    
}

.card4 {
    padding-left: 12px;
    padding-bottom: px;
}

.bluecard {
    background-color: var(--regblue);
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 15px;
}

.cardblue {
    background-color: var(--regblue);
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 13.1px;
}

.beigecard {
    background-color: var(--beige);
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 17px;
}

.cardbeige{
    background-color: var(--beige);
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16.5px;
}

.greencard {
    background-color: var(--green);
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 20px;
}
.orangecard {
    background-color: var(--orange);
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 20px;
}

.cardorange{
    background-color: var(--orange);
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14.3px;
}

aside{
    background-color: var(--wine);
    position: relative;
    margin-right: 10px;
    width: 13%;
    float: right;
    bottom: 450px;
}

.text h3{
    text-align: center;
}

.text p{
    font-size: 23.8px;
    padding: 5px;
    margin-bottom: 16.5px;
}

.sidestar{
    display: flex;
    justify-content: center;
}
.redfoot{
    background-color: var(--wine);
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.bluefoot{
    background-color: var(--bluedark);
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.beigefoot{
    background-color: var(--darkbeige);
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.greenfoot{
    background-color: var(--darkgreen);
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.orangefoot{
    background-color: var(--darkorange);
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.video{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


.botao a{
    color: var(--bluedark);
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
    margin-top: 20px;  
    transition: 0.2s;
}

.botao a:hover{
    color: black;
    display: flex;
    justify-content: center;
}

.tudo{
    background-image: url(Assets/Inicial\ \(1136\ x\ 475\ px\).png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilização do container */
.form {
    background-color: var(--beige);
    border: 2px solid var(--darkbeige);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

/* Estilização do título */
.form h2 {
    color: var(--darkbeige);
    margin-bottom: 20px;
}

/* Estilização dos inputs */
form input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--beige);
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilização do botão */
form button {
    background-color: var(--darkbeige);
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: var(--background);
}

/* Estilização das mensagens de erro */
.message.error {
    color: rgb(0, 0, 0);
    font-size: 14px;
    margin-top: 10px;
}

/* Estilização dos parágrafos (label e texto adicional) */
form p {
    color: black;
    margin: 10px 0;
    font-size: 14px;
}